@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.c-section-label {
  margin-bottom: 8px;
  font-size: 18px;
  color: $color-primary;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.c-section-title {
  margin-bottom: 28px;
  font-family: $font-mincho;
  font-size: 26px;
  font-weight: 700;
  color: $color-text-main;
  text-align: center;

  @include mq(tb) {
    margin-bottom: 36px;
    font-size: 30px;
  }

  @include mq(pc) {
    margin-bottom: 40px;
  }
}
